.warning{
    display: flex;
    justify-content: center;
    width: 100vw;
    padding: 2.7em 0.3em 0.3em 0em;
    font-family: 'Bebas Neue';
    font-size: 2em;
    font-weight: 0;
    background-color: #f60606bf;
    border: 1px solid black;
    color: white;
}

.Lancamentos{
    display: flex;
    flex-direction: column;
    background-color: #2b3137;
}

.h1{
    display: flex;
    justify-content: left;
    color: white;
    margin: 1em 0 .5em 2em;
    font-weight: 400;
    font-size: 3em;
    padding: .5em;
    font-family: 'Bebas Neue';
}

.h2{
    display: flex;
    color: rgba(255, 255, 255, 0.816);
    font-weight: 400;
    font-size: 2em;
    padding: .5em;
    font-family: 'Bebas Neue';
}

.cadastrarL{
    width: 65%;
    background-color: #494b4c;
    margin: auto;
    padding: 1em 2em 2em 2em;
    margin-bottom: 4em;
    border-radius: 5px;
    border: 1px solid #ccc;

    display: flex;
    flex-direction: column;
    min-width: 60vw;
}

.inputGlobal{
    padding: .6em 1em;
    border: none;
    border-radius: 3px;
    margin: 1em auto;
    font-family: 'Bebas Neue';
    cursor: pointer;
    font-size: 1.3em;
    font-weight: bolder;
    color: #880000;
    width: 20vw;
}

.inputGlobal:hover{
    transition: 1s;
    color: white;
    background-color: #f60606bf;
}

.input{
    margin: .5em 1em 0 1em;
    border: none;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 10px;
    color: rgb(255, 255, 255);
    background-color: rgba(6, 65, 117, 0);
}

.input::placeholder{
    font-weight: 0;
    color: rgb(255, 255, 255);
}

.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputIdLan{
    margin: 0em 1em 0em 0em;
    border: none;
    height: 40px;
    padding: .3em;
    width: 10vw;;
    border-radius: 3px;
}

.formCad{
    margin: auto;
    display: flex;
    flex-direction: column;
    min-width: 60vw;
}

.formCad > div{
    display: flex;
    justify-content: center;
    margin: 1em 0em 0 0;
    font-family: 'Bebas Neue';
    color: #fff;
    align-items: center;
}

.formCad > div > div{
    font-size: 2em;
}


.btnDel{
    padding: .2em .5em;
    cursor: pointer;
    border: 1px solid #ccc;
    font-weight: bold;
    border-radius: 2px;
}

.btnDel:hover{
    transition: 1s;
    color: white;
    background-color: #880000;
    border: 1px solid #ccc;
}

.divBtn{
    padding-top: 2em;
}

.tableAlign{
    background: rgb(255, 255, 255);
    text-align: center;
    color: black;
}

/* .tableAlign > thead >  tr{
    border: 20px solid #2b3137;   
} */

.blackColor{
    color: black
}