/* ---------------------- HEADER ------------------- */

.slideshow-container {
    position: relative;
    margin: 0em auto 0em;
    max-width: 100vw;
    
}

.navMargin{
  margin-top: -3em;
}

.imgSlide {
    max-height: 80vh;
    width: 100%;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Bebas Neue'

}

.numbertext {
  color: rgb(129, 2, 2);
  font-size: 2em;
  padding: 8px 12px;
  position: absolute;
  top: 6.5vh;
  font-family: 'Bebas Neue';
  font-weight: 100;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* ---------------------- MAIN ------------------- */

main{
  padding-bottom: 4em;
}

.h1{
    /* font-family: 'Bebas Neue';
    font-size: 4em;
    font-weight: 800;
    color: rgb(98, 0, 0); */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 25vw;
    padding: 2em 0em;
    /* box-shadow: 1px black; */
}

.divFiltro{
  display:  flex;
  text-align: center;
  max-width: 70vw;
  justify-content: space-between;
  font-family: 'Bebas Neue';
  margin: 2em auto;
  padding: 1em;
  background-color: #ccc;
}

.divChoices{
  display: flex;
}

.borda{
  margin: 0 1em;
}

.divChoices > div{
  display: flex;
  border: 1px solid black;
}

.btn{
  font-weight: 0;
  padding: 6px;
  border: none;
  font-size: 1em;
  font-family: 'Bebas Neue';
  cursor: pointer;
}

.btn:hover{
  background-color: #f2f2f2;
  -webkit-animation-name: fade;
  -webkit-animation-duration: 200ms;
}

.btnImg{
  width: 30px;
}

.divFiltro input {
  padding: 6px;
  border: none;
  font-size: 17px;
  font-family: 'Bebas Neue';
}

main{
  background-color: rgb(243, 243, 243);
}

header{
  background-color: rgb(243, 243, 243);
}

h3{
  font-family: 'Bebas Neue';
  font-size: 1.8em;
  color: black;
  margin-bottom: 1.3em;
}

.infoFilmes{
  /* min-height: 100vh ; */
  display: flex;
  flex-direction: column;
  margin-left: 1.2em;
  
}

.infoFilmes > p{
  font-weight: 0;
  color: rgb(47, 47, 47);
  font-family: 'Bebas Neue';
  font-size: 1.1em;
  margin: 0.6em 0em;
}

.strg{
  font-size: 1.2em;
  color: black;
  margin-right: .5em;
}

.lancamento{
  display: flex;
  min-width: 60vw;
  margin: 0 auto;
  justify-content: left;
  padding: 3em 0em 0em 20em;
}

.lancamento > img{
  width: 200px;
}

.filtroI{
  margin: 0 .5em ;
 }

.imgFilme{
  min-width: 250px;
  border: 1px solid #ccc;
  box-shadow: -12px 10px 10px 10px gray;
}

.btnFavorito{
  border: 1px solid rgb(41, 0, 0);
  padding: .8em 0.6em;
  border-radius: 3px;
  font-weight: bolder;
  background: whitesmoke;
  max-width: 250px;
  cursor: pointer;
}

.btnFavorito:hover{
  color: #fff;
  background: rgb(97, 97, 97);
  transition: 0.6s ease;
}

